<div class="">
    <div>
        <table id="tbl" class="table table-response bg-light border">
            <thead>
                <tr class="bg-dark text-light">
                    <th>اسم المستخدم</th>
                    <th>البريد الالكتروني</th>
                    <th>رقم الهاتف</th>
                    <th>الدولة</th>
                    <th></th>
                    <th>
                        <input type="checkbox" class="ckheader" (change)="SelectAll()">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td scope="row">{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.country}}</td>
                    <td>
                        <div>
                            <button type="button" (click)="EditUserClick(user.id)"
                                class="btn btn-primary btn-sm">تعديل</button>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" class="ckitem" value="{{user.id}}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modelId"
            (click)="DeleteCount()" [disabled]="!IsDelete()">Delete
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تنبيه حذف</h5>
            </div>
            <div class="modal-body">
                لقد قمت باختيار عدد {{num}} عنصر للحذف. هل تريد الحذف فعلا؟؟
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">تراجع</button>
                <button type="button" class="btn btn-danger" (click)="DeleteConfirm()">تأكيد الحذف</button>
            </div>
        </div>
    </div>
</div>