<nav class="navbar navbar-expand-lg navbar-dark bg-dark ar">
    <a class="navbar-brand" routerLink="">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <a class="nav-link" routerLink="controlpanel" *ngIf="IsAdmin()">
                <i class="fa fa-user-shield"></i> لوحة التحكم
            </a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle ml-2"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="" *ngIf="!isUserRegistered()">
                        <a class="dropdown-item" routerLink="register">التسجيل</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="login">دخول</a>
                    </div>
                    <div class="" *ngIf="isUserRegistered()">
                        <a class="dropdown-item" href="#" (click)="Logout()">تسجيل الخروج</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>