<div class="container">
    <div class="notFoundContainer text-center mt-4">
        <div class="notFoundImage mb-3">
            <img src="assets/images/denied.jpg" class="img-fluid access-image" alt="">
        </div>
        <div class="notFoundTxt mb-3">
            <h4 class="text-danger">انت لا تمتلك الصلاحية للدخول لهذه الصفحة</h4>
        </div>
        <div class="notFoundBtn">
            <button type="button" class="btn btn-outline-danger" (click)="goHome()">الصفحة الرئيسية</button>
        </div>
    </div>
</div>
