<div class="container mt-4 mb-4">
    <h5>استعادة كلمة المرور</h5>
    <hr class="mb-4" />
    <div class="login-container">
        <div class="alert alert-success alert-dismissible fade show" role="alert"
            *ngIf="message != null && message != ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            {{message}}
        </div>
        <div class="col-md-5">
            <form [formGroup]="forgetForm" (ngSubmit)="RequestPassword()">
                <div class="form-group">
                    <label for="email">البريد الالكتروني</label>
                    <input type="email" formControlName="email" class="form-control" id="email"
                        placeholder="Email Address" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
                    <div *ngIf="this.forgetForm.get('email').invalid">
                        <div class="text-danger"
                            *ngIf="this.forgetForm.get('email').errors.required && this.forgetForm.get('email').touched">
                            {{messageValidate.email.required}}
                        </div>
                        <div class="text-danger"
                            *ngIf="this.forgetForm.get('email').errors.pattern && this.forgetForm.get('email').touched">
                            {{messageValidate.email.patt}}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="forgetForm.invalid">طلب الاستعادة</button>
            </form>
        </div>
    </div>
</div>