<div class="container mt-4 mb-4">
    <h5>استعادة كلمة المرور</h5>
    <hr class="mb-4" />
    <div class="login-container">
        <div class="col-md-5">
            <form [formGroup]="userForm" (ngSubmit)="ResetPassword()">
                <div class="form-group">
                    <label for="password">كلمة المرور</label>
                    <input type="password" formControlName="password" class="form-control" id="password"
                        placeholder="Password" required minlength="6" [ngClass]="{'is-invalid' :
             !this.userForm.get('password').valid && this.userForm.get('password').touched}">
                    <div class="text-danger" *ngIf="this.userForm.get('password').invalid &&
            (this.userForm.get('password').touched || this.userForm.get('password').dirty)">
                        <div *ngIf="this.userForm.get('password').errors.required">
                            {{messageValidate.pass.required}}
                        </div>
                        <div *ngIf="this.userForm.get('password').errors.minlength">
                            {{messageValidate.pass.minLength}}
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="!isPasswordValid()">
                        {{messageValidate.pass.notMatch}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">تأكيد كلمة المرور</label>
                    <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm"
                        placeholder="Password confirm" required minlength="6" [ngClass]="{'is-invalid' :
             !this.userForm.get('passwordConfirm').valid && this.userForm.get('passwordConfirm').touched}">
                    <div class="text-danger" *ngIf="this.userForm.get('passwordConfirm').invalid &&
            (this.userForm.get('passwordConfirm').touched || this.userForm.get('passwordConfirm').dirty)">
                        <div *ngIf="this.userForm.get('passwordConfirm').errors.required">
                            {{messageValidate.passConfirm.required}}
                        </div>
                        <div *ngIf="this.userForm.get('passwordConfirm').errors.minlength">
                            {{messageValidate.passConfirm.minLength}}
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="isPasswordMatch()">
                        {{messageValidate.passConfirm.isMatch}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"
                    [disabled]="userForm.invalid || isPasswordMatch()">استعادة</button>
            </form>
        </div>
    </div>
</div>